[submodule "extern/cereal"]
	path = extern/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "extern/doxygen-awesome-css"]
	path = extern/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css
